<div class="container lead" style="max-width: 600px; margin: auto">
  <h5 class="border-bottom border-secondary p-2 text-center">
    Account Details
  </h5>
  <ul *ngIf="user">
    <div class="d-flex">
      <div class="p-2">First Name:</div>
      <div class="p-2">{{ user.firstName }}</div>
    </div>
    <div class="d-flex">
      <div class="p-2">Last Name:</div>
      <div class="p-2">{{ user.lastName }}</div>
    </div>
    <div class="d-flex">
      <div class="p-2">Email:</div>
      <div class="p-2">{{ user.email }}</div>
    </div>
    <div class="d-flex">
      <div class="p-2">Phone:</div>
      <div class="p-2">{{ user.phone }}</div>
    </div>
  </ul>

  <h5 class="border-bottom border-secondary p-2 text-center">
    Address Details
  </h5>
  <ul *ngIf="user?.address">
    <div class="d-flex">
      <div class="p-2">Addressee:</div>
      <div class="p-2">{{ user.address.addressee }}</div>
    </div>

    <div class="d-flex">
      <div class="p-2">Civic Address:</div>
      <div class="p-2">{{ user.address.civicAddress }}</div>
    </div>

    <div class="d-flex">
      <div class="p-2">Municipality:</div>
      <div class="p-2">{{ user.address.municipality }}</div>
    </div>

    <div class="d-flex">
      <div class="p-2">Province:</div>
      <div class="p-2">{{ user.address.province }}</div>
    </div>

    <div class="d-flex">
      <div class="p-2">Postal Code:</div>
      <div class="p-2">{{ user.address.postalCode }}</div>
    </div>
  </ul>

  <button
    *ngIf="!user?.address"
    class="btn btn-warning btn-sm m-4"
    data-bs-toggle="modal"
    data-bs-target="#enroll"
  >
    <i class="bi bi-plus-square fs-6"> Add Address</i>
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="enroll"
    tabindex="-1"
    aria-labelledby="enrollLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enrollLabel">Address</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="lead">Please enter your address</p>
          <!-- address form -->
          <div class="text-center" id="addressform">
            <main class="form-address">
              <form class="">
                <div class="form-floating mb-2">
                  <input
                    [(ngModel)]="addressData.addressee"
                    name="addressee"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Address"
                  />
                  <label for="floatingInput">Addressee</label>
                </div>
                <div class="form-floating mb-2">
                  <input
                    [(ngModel)]="addressData.civicAddress"
                    name="civicAddress"
                    type="text"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Address"
                  />
                  <label for="floatingPassword">Civic Address</label>
                </div>

                <div class="form-floating mb-2">
                  <input
                    [(ngModel)]="addressData.municipality"
                    name="municipality"
                    type="text"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Address"
                  />
                  <label for="floatingPassword">Municipality</label>
                </div>

                <p
                  for="floatingPassword"
                  class="lead py-2 text-small text-start pb-0 mb-0"
                >
                  Province:
                </p>

                <div
                  class="
                    form-floating
                    d-flex
                    mb-4
                    align-items-center
                    justify-content-center
                  "
                >
                  <div class="w-100">
                    <select
                      name="province"
                      class="
                        p-2
                        bg-secondary
                        text-light
                        lead
                        border border-light
                        rounded
                        w-100
                      "
                      [(ngModel)]="addressData.province"
                    >
                      <option class="lead py-1 text-small" value="ON">
                        Ontario
                      </option>
                      <option class="lead text-small" value="QC">Quebec</option>
                    </select>
                  </div>
                </div>

                <div class="form-floating mb-4">
                  <input
                    [(ngModel)]="addressData.postalCode"
                    name="postalCode"
                    type="text"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Address"
                  />
                  <label for="floatingPassword">Postal Code</label>
                </div>

                <button
                  class="w-100 btn btn-lg btn-warning my-2"
                  (click)="addAddress()"
                  data-bs-dismiss="modal"
                  type="submit"
                >
                  <span class="lead"> Add </span>
                </button>
              </form>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
