<div class="text-center mb-5" id="signinform">
  <main class="form-signin">
    <form class="border border-light rounded p-3">
      <img class="mb-5 w-50" src="assets/logo.png" />
      <h1 class="h3 mb-3 fw-normal">Create Account</h1>

      <div class="form-floating mb-2">
        <input
          [(ngModel)]="userData.email"
          type="email"
          name="email"
          class="form-control"
          id="floatingInput"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-2">
        <input
          [(ngModel)]="userData.password"
          type="password"
          name="password"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating mb-4">
        <input
          [(ngModel)]="userData.password"
          type="password"
          name="password"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Re-enter password</label>
      </div>

      <div class="form-floating mb-2">
        <input
          [(ngModel)]="userData.firstName"
          type="text"
          name="firstName"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">First Name</label>
      </div>

      <div class="form-floating mb-2">
        <input
          [(ngModel)]="userData.lastName"
          type="text"
          name="lastName"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Last Name</label>
      </div>

      <div class="form-floating mb-4">
        <input
          [(ngModel)]="userData.phone"
          type="text"
          name="phone"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Phone Number</label>
      </div>

      <button
        class="w-100 btn btn-lg btn-warning"
        (click)="registerUser()"
        type="submit"
      >
        <span class="lead"> Create your Account </span>
      </button>

      <p class="text-start my-4 small text-center">
        By creating an account, you agree to Walking Footwear's Conditions of
        Use and Privacy Notice.
      </p>

      <div class="bg-light py-2">
        <p class="mt-3 lead">
          Already have an account?
          <a class="small" routerLink="/signin">Sign-In</a>
        </p>
      </div>
    </form>
  </main>

  <!-- <p class="mt-5 mb-3 text-muted">© 2017–2021</p> -->
</div>
