<div class="container-fluid bg-dark text-light mt-2 fixed-bottom">
  <div class="container mx-auto p-2">
    <div class="d-flex">
      <div>
        <img src="../../../favicon.ico" alt="" /> &copy; The Walking Stores
      </div>
      <div class="ms-auto">
        <a href="#">About Us</a> | <a href="#">Careers</a> |
        <a href="#">Terms and Conditions</a> | <a href="#">Locations</a>
      </div>
    </div>

    <tr>
      <td class="col-4"></td>
      <td class="col-6"></td>
    </tr>
  </div>
</div>
