<hr />
<div class="container mx-auto">
  <tr>
    <td class="col-4">
      <img src="../../../favicon.ico" alt="" /> &copy; The Walking Stores
    </td>
    <td class="col-6">
      <a href="#">About Us</a> | <a href="#">Careers</a> |
      <a href="#">Terms and Conditions</a> | <a href="#">Locations</a>
    </td>
  </tr>
</div>

<br />
<hr />
<div style="background-color: black">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
