<nav class="navbar navbar-expand-lg bg-dark navbar-dark text-light pt-300">
  <div class="container">
    <a routerLink="/"><img src="../../../favicon.ico" alt="" /></a>
    <a routerLink="/" class="navbar-brand">Walking Footwear</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="jwtService.loggedIn()">
          <span class="nav-link text-warning"
            >Hello, {{ jwtService.user?.firstName }}</span
          >
        </li>
        <li class="nav-item active" *ngIf="!jwtService.loggedIn()">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active"
            >Login</a
          >
        </li>

        <li class="nav-item active" *ngIf="!jwtService.loggedIn()">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
        </li>

        <li class="nav-item" *ngIf="jwtService.loggedIn()">
          <a class="nav-link" routerLink="/account" routerLinkActive="active"
            >Account</a
          >
        </li>

        <li class="nav-item active" *ngIf="jwtService.loggedIn()">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active"
            >Orders</a
          >
        </li>

        <li class="nav-item active" *ngIf="jwtService.loggedIn()">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active"
            >Cart</a
          >
        </li>

        <li class="nav-item" *ngIf="jwtService.loggedIn()">
          <a class="nav-link" (click)="jwtService.logoutUser()" routerLink="/"
            >Sign Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
