<div class="container-fluid">
  <div class="row bg-light">
    <div class="col-4">
      <img src="../../../favicon.ico" alt="" />
      <span class="my-0 mr-md-auto font-weight-normal"> Walking Stores</span>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-end p-2">
        <span *ngIf="jwtService.loggedIn()"
          >Hello, {{ jwtService.user?.firstName }}</span
        >
        <nav class="my-2 my-md-0 mr-md-3">
          <a
            class="p-2 text-dark"
            *ngIf="!jwtService.loggedIn()"
            routerLink="/signin"
            >Login</a
          >
          <a
            class="p-2 text-dark"
            *ngIf="!jwtService.loggedIn()"
            routerLink="/register"
            >Register</a
          >

          <a class="p-2 text-dark" (click)="jwtService.logoutUser()" href="#"
            >Account</a
          >
          <a class="p-2 text-dark" href="#">Orders</a>
          <a class="p-2 text-dark" href="#">Cart(1)</a>
          <a
            class="p-2 text-dark"
            *ngIf="jwtService.loggedIn()"
            routerLink="/register"
            (click)="jwtService.logoutUser()"
            >Sign Out</a
          >
        </nav>
      </div>
    </div>
  </div>
</div>
