<div class="card mx-5">
  <div class="card-body">
    <div class="d-md-flex justify-content-center align-items-center">
      <img
        class="img-fluid rounded mx-auto mx-md-3 d-block"
        src="{{ item.stock.product.productDescription.image }}"
        alt=""
        width="250px"
      />

      <div class="right px-md-5 text-center text-md-start product-details">
        <div>
          <b>{{ item.stock.product.productDescription.title }}</b>
        </div>
        <div>{{ item.stock.product.productDescription.brand }}</div>
        <div>Size: {{ item.stock.product.size }}</div>
        <div>Qty: {{ item.quantity }}</div>
        <div>Subtotal: {{ item.paidSubtotal | currency: "CAD" }}</div>

        <button
          class="btn btn-danger btn-sm mr-2 ml-0"
          (click)="delete(item.id)"
        >
          <i class="bi bi-trash">Remove</i>
        </button>
      </div>
    </div>
  </div>
</div>
