<h4 class="p-2 border-bottom border-secondary">Admin Tools</h4>

<div class="container mt-4 justify-content-center">
  <div class="col-md-9 mx-auto bg-success">
    <div class="d-flex flex-wrap bg-light justify-content-start py-4">
      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-person-square"></i></span>
        Managers</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-file-person-fill"></i></span>
        Employees</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-people"></i></span>
        Customers</a
      >

      <a routerLink="/admin/categories"
        ><span class="h1 d-block"><i class="bi bi-tags"></i></span>
        Categories</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-collection"></i></span>
        Products</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-grid-3x2-gap-fill"></i></span>
        Product Varieties</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-stack"></i></span> Stock</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"
          ><i class="bi bi-file-earmark-spreadsheet"></i
        ></span>
        Orders</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-building"></i></span>
        Manufacturer</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-chat-square-text"></i></span>
        Reviews</a
      >

      <a routerLink="/"
        ><span class="h1 d-block"><i class="bi bi-shop"></i></span> Branches</a
      >
    </div>
  </div>
</div>
