<div class="col">
  <div class="card shadow-sm">
    <img
      class="bd-placeholder-img card-img-top"
      width="100%"
      height="225"
      src="{{ product.image }}"
    />

    <div class="card-body">
      <p class="card-text" style="margin-bottom: 0; font-weight: 500">
        <a
          routerLink="/product/{{ product.id }}"
          routerLinkActive="router-link-active"
          >{{ product.title + " " + product.id }}</a
        >
      </p>
      <p style="padding: 0; margin: 0">{{ product.brand }}</p>
      <h4 class="card-text" style="display: inline-block">
        {{ product.minPrice | currency: "CAD" }}
        <span *ngIf="product.minPrice != product.maxPrice">
          - {{ product.maxPrice | currency: "CAD" }}</span
        >
      </h4>
      <!-- <h6 class="card-text" style="display: inline-block; vertical-align: top">
        06
      </h6> -->
      <div>
        <b
          ><app-ps-product-card-review
            [reviewCount]="product.reviewCount"
            [rating]="product.rating"
          ></app-ps-product-card-review
        ></b>
      </div>
    </div>
  </div>
</div>
