<input
  type="number"
  placeholder="min price"
  [(ngModel)]="minPrice"
  (blur)="filterChanged()"
/>
<input
  type="number"
  placeholder="max price"
  [(ngModel)]="maxPrice"
  (blur)="filterChanged()"
/>

<br />
<hr />
<br />

<div *ngFor="let category of categories">
  <input
    type="button"
    value="{{ category.category }}"
    (click)="onChange($event)"
  />
</div>
<div>Selected Category: {{ category }}</div>

<a [routerLink]="['/products/', '']">Clear</a>
<!-- 
<br />
<hr />
<br />
<h5>Categories</h5>
<ul>
  <div *ngFor="let category of categories">
    <li>
      <a [routerLink]="['/products/', category.category]">{{
        category.category
      }}</a>
    </li>
  </div>
</ul> -->
