<input type="text" placeholder="min price" />
<input type="text" placeholder="max price" />
<br /><br />
<h5>Categories</h5>
<ul>
  <!-- <li>
    <a [routerLink]="['/product', 5]">prdoctWithId5</a>
  </li>
  <li><a routerLink="/women">Women</a></li>
  <li><a routerLink="/men">Men</a></li>
  <li>Kids</li>
  <li>Sneakers</li>
  <li>Waking Shoes</li>
  <li>Loafers & Slip-Ons</li> -->

  <div *ngFor="let category of categories">
    <li>
      <a [routerLink]="['/products/', category.category]">{{
        category.category
      }}</a>
    </li>
  </div>
</ul>
